<%= form_with(model: project, url: project.persisted? ? project_path(project) : projects_path, method: :post) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <!-- User Selection (Check Boxes for Existing Users) -->
  <div class="field">
    <%= form.label :user_ids, 'Select Users' %>
    <%= form.collection_check_boxes :user_ids, User.all, :id, :email %>
  </div>

  <!-- Nested Fields for Adding/Editing Users -->
  <h3>Add/Edit Users</h3>
  <div id="users">
    <%= form.fields_for :users do |user_form| %>
      <div class="nested-fields">
        <%= user_form.hidden_field :id %>

        <div>
          <%= user_form.label :email %>
          <%= user_form.email_field :email %>
        </div>

        <div>
          <%= user_form.label :name %>
          <%= user_form.text_field :name %>
        </div>

        <div>
          <%= user_form.label :role %>
          <%= user_form.text_field :role %>
        </div>

        <div>
          <%= user_form.label :password %>
          <%= user_form.password_field :password %>
        </div>

        <div>
          <%= user_form.label :password_confirmation %>
          <%= user_form.password_field :password_confirmation %>
        </div>

        <%= link_to "Remove User", '#', class: "remove_fields" %>
      </div>
    <% end %>
  </div>

  <!-- Link to add new user fields dynamically -->
  <%= link_to "Add User", '#', id: "add_user", data: { fields: form.fields_for(:users, User.new, child_index: "new_user") { |user_form| render('user_fields', f: user_form) }.gsub("\n", "") } %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
