<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>
<h2>Users</h2>
    <%= users.email %><br>
    <%= users.name %><br>
    <%= users.role %><br>
</div>
