<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>
<h2>Users</h2>
    <%= project.users.each do |user| %>
    <%= user.email %><br>
    <%= user.name %><br>
    <%= user.role %><br>
    <% end %>
</div>
