<!-- app/views/projects/index.html.erb -->
<div style="display: flex; justify-content: space-around;">
<h1 style="margin: 0">Projects</h1>
<div><%= current_user.role %></div>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
</div>

<hr />
<% if can? :create, Project%>
<div><%= link_to "New project", new_project_path %></div>
<%end%>



<%# search %>
<div style="display: flex; justify-content: center; margin-bottom: 10px">
<%= form_with(url: suggestion_path, local: true) do %>
  <%= search_field_tag :query, placeholder: "Search Projects...", oninput: "this.form.requestSubmit();",
   style: " height: 30px; border: 0.1px solid; border-radius: 5px" %>
  </div>
<% end %>



<div id="projects_id" style="display: flex; justify-content: center;">
<table style="width: 80%; border-collapse: collapse; border: 1px solid;">
  <thead>
    <tr style="border: 1px solid">
      <th style="border: 1px solid; padding: 8px;">Name</th>
      <th style="border: 1px solid; padding: 8px;">Description</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td style="border: 1px solid; padding: 8px;"><%= link_to project.name, project %></td>
        <td style="border: 1px solid; padding: 8px;"><%= project.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<%if @bugs!= []%>
<h1>Bugs</h1>
<div id="bugs">
  <% @bugs.each do |bug| %>
    <%= render bug %>
    <p>
      <%= button_to "Resolve this bug", status_update_project_bug_path(@project, bug), turbo_method: :post %>
    </p>
  <% end %>
</div>
<%end%>
