<!-- app/views/projects/index.html.erb -->
<h1>Projects</h1>

<%= form_with url: projects_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search Projects..." %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<div style="display: flex; justify-content: space-around;">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
