<!-- app/views/projects/index.html.erb -->
<div style="display: flex; justify-content: space-around;">
<h1 style="margin: 0">Projects</h1>
<div><%= current_user.role %></div>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
</div>

<hr />
<% if can? :create, Project%>
<div><%= link_to "New project", new_project_path %></div>
<%end%>

<%= form_with url: projects_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search Projects..." %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
