<p style="color: green"><%= notice %></p>

<h1>Projects</h1>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
<hr />
<%= link_to "New project", new_project_path %>
<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>


