<!-- app/views/bugs/_bug.html.erb -->

<div class="bug">
  <p><strong>Title:</strong> <%= bug.project_id %></p>
  <p><strong>Description:</strong> <%= bug.description %></p>
  <p><strong>Status:</strong> <%= bug.status %></p>
  <p><strong>Deadline:</strong> <%= bug.deadline %></p>
  <p><strong>Bug Type:</strong> <%= bug.bug_type %></p>

 <div>
  <% if bug.screenshot.attached? %>
    <%= image_tag bug.screenshot, style: "width: 200px; height: 200px;" %>
  <% end %>
</div>


</div>
