<%= form_with(model: [project, bug], local: true, data: { controller: "bug" }) do |form| %>
  <% if bug.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
        <% bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

 <div data-controller="bug">
  <div class="field">
    <%= form.label :bug_type %><br />
    <%= form.select :bug_type, options_for_select([['Feature', "feature"], ['Bug', "bug"]]), 
                    { include_blank: true }, 
                    data: { action: "change->bug#updateStatus" } %>
  </div>

  <div class="field">
    <%= form.label :status %><br />
    <%= form.select :status, [], 
                    data: { bug_target: "status" } %> <!-- Ensure this matches the target in the Stimulus controller -->
  </div>
</div>




  <div>
    <%= form.label :deadline, style: "display: block" %>
    <%= form.datetime_select :deadline %>
  </div>

  <div>
    <%= form.label :screenshot %>
    <%= form.file_field :screenshot %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
