<h1>Bugs</h1>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
<div style="display: flex; justify-content: center;">
  <table style="width: 80%; border-collapse: collapse; border: 1px solid;">
    <thead>
      <tr style="border: 1px solid">
        <th style="border: 1px solid; padding: 8px;">Name</th>
        <th style="border: 1px solid; padding: 8px;">Description</th>
        <th style="border: 1px solid; padding: 8px;">Show</th>
      </tr>
    </thead>
    <tbody>
      <% @bugs.each do |bug| %>      
      
        <tr style="border: 1px solid">
          <td style="border: 1px solid; padding: 8px;"><%= bug.id%>.<%= bug.title %></td>
          <td style="border: 1px solid; padding: 8px;"><%= bug.description %></td>
          <td colspan="2" style="text-align: center; padding: 8px;">
            <p>
      <%= button_to "Resolve this bug", status_update_project_bug_path(bug.project_id, bug), turbo_method: :post %>
    </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>