<p style="color: green"><%= notice %></p>

<h1>Bugs</h1>
<div style="display: flex; justify-content: center;">
  <table style="width: 80%; border-collapse: collapse; border: 1px solid;">
    <thead>
      <tr style="border: 1px solid">
        <th style="border: 1px solid; padding: 8px;">Name</th>
        <th style="border: 1px solid; padding: 8px;">Description</th>
        <th style="border: 1px solid; padding: 8px;">Show</th>
      </tr>
    </thead>
    <tbody>
      <% @bugs.each do |bug| %>      
      
        <tr style="border: 1px solid">
          <td style="border: 1px solid; padding: 8px;"><%= bug.id%>.<%= bug.title %></td>
          <td style="border: 1px solid; padding: 8px;"><%= bug.description %></td>
          <td colspan="2" style="text-align: center; padding: 8px;">
            <%= link_to "Show this bug", bug %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "New bug", new_project_bug_path(@project), data: { turbo_frame: 'bug' } %>

<%= turbo_frame_tag "bug" %>