<p style="color: green"><%= notice %></p>

<%= render @bug %>

<div>

  <%= link_to "Edit this bug", edit_project_bug_path(@bug) %> |
  <%= link_to "Back", root_path %>
  
  <%= button_to "Destroy this bug", [@project, @bug], method: :delete %>
</div>
